{{ define "title" }}{{.Title}} Templates{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-taxonomy{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{.Title}} Templates for the Joomla CMS" />
{{ end }}

{{ define "main" }}
{{ $themeCount := len .Pages }}

<div class="main">
  <div class="main-wrapper">
    <div class="intro">
      <h1 class="heading-title">{{.Title}} Templates <span class="count">{{ $themeCount }}</span></h1>
    </div>

    <div id="grids-taxonomy" class="grid">
      {{ $paginator := .Paginate .RegularPages.ByPublishDate.Reverse }}
      {{ range $paginator.Pages }}
      {{ $repoName := printf "%s-%s" (substr (replace .Params.details "/" "-") 19 | urlize) }}
      {{ $repo := index .Site.Data.themes $repoName }}
        {{ partial "template-card.html" (dict "theme" . "repo" $repo) }}
      {{ end }}
    </div>
    {{ $paginator := .Paginator }}
    {{ partial "pagination.html" . }}
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $mixitup := resources.Get "js/libs/mixitup.js" }}
{{ $mixitupMultiFilter := resources.Get "js/libs/mixitup-multifilter.js" }}
{{ $filterTaxonomy := resources.Get "js/filter-taxonomy.js" }}
{{ $bundle := slice $mixitup $mixitupMultiFilter $filterTaxonomy | resources.Concat "js/bundleTaxonomy.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($bundle | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}