.card {
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 2px rgba(0, 0, 0, 0.06), 0 4px 4px rgba(0, 0, 0, 0.06), 0 8px 8px rgba(0, 0, 0, 0.06);
  transition: color 0.3s, box-shadow 0.3s, transform 0.3s;
  position: relative;
  z-index: 1;
  min-height: 320px;
  max-width: 280px;
  overflow: hidden;

  &:hover {
    transform: translateY(-3px);
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.10),
      0 2px 2px rgba(0, 0, 0, 0.10),
      0 4px 4px rgba(0, 0, 0, 0.10),
      0 8px 8px rgba(0, 0, 0, 0.10),
      0 16px 16px rgba(0, 0, 0, 0.10);
    color: currentColor;
  }

  .card-container {
    position: relative;
  }

  .card-header {
    border-bottom: 1px solid $grey;
    max-height: 210px;
    overflow: hidden;

    a {
      display: block;
    }

    img {
      max-width: 100%;
      height: auto;
      vertical-align: bottom;

      @include breakpoint('small') {}
    }
  }

  .card-body {
    flex: 1;
    padding: 20px;
    min-height: 140px;
    background: white;

    h2 {
      font-size: 20px;
      line-height: 26px;
      font-weight: 400;
      font-family: $font-family-heading;
      margin: 0;
      margin-bottom: 10px;
    }

    p {
      color: $steel;
      margin: 0 0 3px 0;

      strong {
        color: $carbon;
      }

      &.description {
        margin-top: 5px;
        margin-bottom: 0;
      }
    }

    .card-title {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      h2 {
        margin: 0;
      }
    }
  }

  .card-footer {
    display: flex;
  }

  .card-buttons {
    margin-left: auto;

    .card-button {
      padding: 1px 5px;
      border-radius: 2px;
      margin-left: 2px;
      margin-right: 0;
      font-size: .8em;
      line-height: 1em;
      text-decoration: none;

      &:hover {}
    }
  }
}

.card-provider {
  font-size: .75rem;
  padding: 4px 10px;
  opacity: .5;
}

.card-lighthouse {
  display: flex;
  justify-content: flex-end;
  padding: 0 4px 4px;
  margin-left: auto;
}

.card-lighthouse-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  background-color: #eee;

  &-red {
    background-color: $red;
  }

  &-orange {
    background-color: $orange;
  }

  &-green {
    background-color: $green;
  }


}
