.icon {
  vertical-align: middle;
  display: inline-block;
  position: relative;

  &:hover {
    opacity: 0.7;
  }

  img {
    display: inline-block;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
  }
}

.icon-card {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 4px;
  background-color: white;
  padding: 2px 10px;
  margin: 5px 0px;
  text-decoration: none;
  color: $primary-light;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 1px 5px 16px 2px adjust-color($primary, $alpha: -0.8);
    color: currentColor;
  }

  img {
    display: inline-block;
    vertical-align: bottom;
    width: 32px;
    height: 32px;
  }
}
