.intro {
  display: flex;
  flex-direction: column;

  @include breakpoint('small') {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1;

    @include breakpoint('small') {
      margin-right: auto;
      font-size: 40px;
      margin-bottom: 0px;
    }
  }

  h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;

    @include breakpoint('small') {
      font-size: 16px;
    }
  }

  p {
    line-height: 20px;
    margin: 0;
  }

  .count {
    display: none;
    position: absolute;
    top: 80px;
    right: 50px;
    font-size: 180px;
    font-weight: bold;
    line-height: 1em;
    color: white;

    @include breakpoint('large') {
      display: inline-block;
    }

  }
}
