.single {
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $bg-darkest;

  .single-top {
    display: flex;
    flex-direction: column;

    @include breakpoint('medium') {
      flex-direction: row;
    }
  }

  .single-bottom {
    padding: 40px;
  }

  .single-info {
    flex: 0 0 540px;
    align-self: flex-start;
    order: -1;
    top: 0;
    padding: 30px;
    color: white;
    margin: 0 auto;
    text-align: center;

    a {
      color: $primary-lightest;
    }

    @include breakpoint('medium') {
      position: sticky;
      padding-left: 40px;
      padding-bottom: 0;
      order: 0;
    }
  }

  .single-preview {
    flex: 1;
    background-color: white;
    min-height: 100vh;
    max-width: 900px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  .single-image {
    border-bottom: 4px solid $secondary;

    img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
    }
  }

  .single-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;

    a {
      white-space: nowrap;
      color: #fff;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
      margin: 5px;
    }
  }

  .single-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: normal;
    margin-bottom: 10px;

    h1 {
      display: inline;
      font-size: 38px;
      margin-right: auto;
      margin-bottom: 0;
      color: #fff;

    }

  }

  .single-summary {
    font-size: 20px;
    color: $steel;
  }

  .single-tags {
    margin-top: 20px;
    display: inline-block;
    background: $grey;
    border-radius: 3px;
    padding: 0;
  }
}

.single-card {
  background: $bg-dark;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin: 10px 0;
  overflow: hidden;
}

.single-card-header {
  padding: 10px 20px 7px;
  margin: 0 0 10px;
  background-color: $bg-darker;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  color: lighten($primary-lighter, 50%);
}

.single-by-provider {
  a {
    text-decoration: none;
  }
}

.audits {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin: auto;
}
