$primary: #2d3058;
$secondary: rgb(52, 146, 160);
$primary-light: #262735;
$primary-lighter: #303143;
$primary-lightest: #9fa3dc;
$bg-dark: #242433;
$bg-darker: #171825;
$bg-darkest: #0b0b14;
$grey: #f3f3f3;
$bone: #f5f5f5;
$steel: #666666;
$yellow: #f6d603;
$blue: #57b8ff;
$carbon: #2a2a2a;
$red: #d42e52;
$orange: #ffa400;
$green: #36832c;

$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06),
0 2px 2px rgba(0, 0, 0, 0.06),
0 4px 4px rgba(0, 0, 0, 0.06),
0 8px 8px rgba(0, 0, 0, 0.06);
;
$border-radius: 4px;

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap');

$font-family-base: 'Poppins',
Helvetica,
Arial,
sans-serif;
$font-family-heading: 'Poppins',
Helvetica,
Arial,
sans-serif;
$font-family-mono: monospace;

$breakpoints: ('small': 690px,
  'medium': 992px,
  'large': 1200px);

@import 'breakpoints';
@import 'reset';
@import 'typo';
@import 'utilities';
@import 'grid';
@import 'card';
@import 'layout-single';
@import 'layout';
@import 'header';
@import 'button';
@import 'filter';
@import 'sort';
@import 'intro';
@import 'info';
@import 'icon';
@import 'lighthouse';
@import 'carbon';
@import 'footer';
@import 'terms';
@import 'not-found';
@import 'hero';
@import 'banner';
@import 'pagination';
@import 'logo';
@import 'main-menu';
@import 'categories';
@import 'blurb';
@import 'content';
@import 'mixitup-pagination';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-family: $font_family_heading, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #2a2a2a;
}
