$primary: #2b6cb0;
$secondary: #319795;
$primary-light: lighten($primary, 5%);
$primary-lighter: lighten($primary, 15%);
$primary-lightest: lighten($primary, 25%);
$primary-dark: darken($primary, 5%);
$primary-darker: darken($primary, 10%);
$bg-dark: #2D3748;
$bg-darker: rgb(36, 46, 61);
$bg-darkest: rgb(18, 24, 34);
$grey: #f3f3f3;
$bone: #f5f5f5;
$steel: #666666;
$yellow: #f6d603;
$blue: #57b8ff;
$carbon: #2a2a2a;
$red: #d42e52;
$orange: #ffa400;
$green: #36832c;

$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06),
0 2px 2px rgba(0, 0, 0, 0.06),
0 4px 4px rgba(0, 0, 0, 0.06),
0 8px 8px rgba(0, 0, 0, 0.06);
;
$border-radius: 4px;


$font-family-base: -apple-system,
BlinkMacSystemFont,
Segoe UI,
Roboto,
Helvetica Neue,
Arial,
Noto Sans,
sans-serif,
Apple Color Emoji,
Segoe UI Emoji,
Segoe UI Symbol,
Noto Color Emoji;
$font-family-heading: -apple-system,
BlinkMacSystemFont,
Segoe UI,
Roboto,
Helvetica Neue,
Arial,
Noto Sans,
sans-serif,
Apple Color Emoji,
Segoe UI Emoji,
Segoe UI Symbol,
Noto Color Emoji;
$font-family-mono: monospace;

$breakpoints: ('small': 690px,
  'medium': 992px,
  'large': 1200px);

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --primary-light: #{$primary-light};
  --primary-lighter: #{$primary-lighter};
  --primary-lightest: #{$primary-lightest};
  --primary-dark: #{$primary-dark};
  --primary-darker: #{$primary-darker};
  --bg-dark: #{$bg-dark};
  --bg-darker: #{$bg-darker};
  --bg-darkest: #{$bg-darkest};

  --base-color: #2a2a2a;
  --base-color-invert: #fff;
  --base-bg: #f3f3f3;

  --header-bg: #fff;
  --card-bg: #fff;
  --count-color: #fff;
}

@import 'breakpoints';
@import 'reset';
@import 'typo';
@import 'utilities';
@import 'grid';
@import 'card';
@import 'layout-single';
@import 'layout';
@import 'header';
@import 'button';
@import 'filter';
@import 'sort';
@import 'intro';
@import 'lighthouse';
@import 'carbon';
@import 'footer';
@import 'terms';
@import 'not-found';
@import 'pagination';
@import 'main-menu';
@import 'blurb';
@import 'content';
@import 'mixitup-pagination';
@import 'tooltips';
@import 'offline';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-family: $font_family_heading, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--base-color);
}
