$primary: #2d3058;
$secondary: rgb(52, 146, 160);
$primary-light: #2d3058;
$primary-lighter: #6d6f8c;
$sidebar-bg: #090821;
$grey: #f3f3f3;
$bone: #f5f5f5;
$steel: #666666;
$yellow: #f6d603;
$blue: #57b8ff;
$carbon: #2a2a2a;
$red: #b9314f;
$orange: #ffa400;
$green: #315c2b;

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap');

$font-family-base: 'Poppins',
Helvetica,
Arial,
sans-serif;
$font-family-heading: 'Poppins',
Helvetica,
Arial,
sans-serif;
$font-family-mono: monospace;

$breakpoints: ('small': 690px,
  'medium': 992px,
  'large': 1200px);

@import 'breakpoints';
@import 'reset';
@import 'typo';
@import 'utilities';
@import 'grid';
@import 'card';
@import 'template-detail';
@import 'layout';
@import 'header';
@import 'button';
@import 'filter';
@import 'sort';
@import 'intro';
@import 'info';
@import 'icon';
@import 'lighthouse';
@import 'carbon';
@import 'footer';
@import 'terms';
@import 'not-found';
@import 'hero';
@import 'banner';
@import 'pagination';
@import 'logo';
@import 'main-menu';
@import 'main-menu-mobile';
@import 'categories';
@import 'blurb';
@import 'content';
@import 'mixitup-pagination';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-family: $font_family_heading, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #2a2a2a;
}
