

<div
  id="{{ .theme.Params.Title | urlize }}"
  class="grid card {{ .classes }} {{ range .theme.Params.provider }}{{ . | urlize }} {{ end }}{{ range .theme.Params.cms }}{{ . | urlize }} {{end}}{{ range .theme.Params.css }}{{ . | urlize }} {{end}}{{ range .theme.Params.archetype }}{{ . | urlize }} {{end}}{{ range .theme.Params.services }}{{ . | urlize }} {{end}}"
  data-submitted="{{ .theme.Lastmod.Format "Jan 2, 2006" }}"
  data-name="{{ .theme.Params.title }}"
>

  <div class="card-header">
    <a href="{{ .theme.Permalink }}" title="{{ .theme.Params.title }}">

      {{ $template_key := .theme.Page.File.BaseFileName | urlize }}
      {{ $imagePath := print "images/theme/thumbnail/" $template_key ".jpg" }}
      <img loading="lazy" src="{{ $imagePath | relURL }}" alt="{{ .Title }} screenshot" />
      <img src="{{ "images/default.png" | relURL }}" width="280" height="180" loading="lazy" alt="{{ .theme.Params.title }} screenshot" />

    </a>
  </div>

  <div class="card-body">
    <div class="card-title">
      <h2>{{ .theme.Params.title }}</h2>
      <div class="card-buttons">
        <a class="button card-button" href="{{ .theme.Permalink }}" target="_blank" rel="noopener nofollow">Details</a>
        <a class="button card-button" href="{{ .theme.Params.demo }}" target="_blank" rel="noopener nofollow">Demo</a>
      </div>
    </div>

    {{ if .theme.Params.description }}
      <p class="description">{{ .theme.Params.description | truncate 100 }}</p>
    {{ else }}
      <p class="description">{{ .theme.Summary | truncate 100 }}</p>
    {{ end }}
  </div>

  <div class="card-footer">
    <div class="card-lighthouse">

      {{ $scratchPerformance := newScratch }}
      {{ $scratchPerformance.Add "color" "red" }}
      {{ if gt .performance 50 }}
        {{ $scratchPerformance.Set "color" "orange" }}
      {{ end }}
      {{ if gt .performance 90 }}
        {{ $scratchPerformance.Set "color" "green" }}
      {{ end }}
      <div class="card-lighthouse-item card-lighthouse-item-{{ $scratchPerformance.Get "color" }}"></div>

      {{ $scratchBest := newScratch }}
      {{ $scratchBest.Add "color" "red" }}
      {{ if gt .bestPractices 50 }}
        {{ $scratchBest.Set "color" "orange" }}
      {{ end }}
      {{ if gt .bestPractices 90 }}
        {{ $scratchBest.Set "color" "green" }}
      {{ end }}
      <div class="card-lighthouse-item card-lighthouse-item-{{ $scratchBest.Get "color" }}"></div>

      {{ $scratchA11y := newScratch }}
      {{ $scratchA11y.Add "color" "red" }}
      {{ if gt .accessibility 50 }}
        {{ $scratchA11y.Set "color" "orange" }}
      {{ end }}
      {{ if gt .accessibility 90 }}
        {{ $scratchA11y.Set "color" "green" }}
      {{ end }}
      <div class="card-lighthouse-item card-lighthouse-item-{{ $scratchA11y.Get "color" }}"></div>

      {{ $scratchSEO := newScratch }}
      {{ $scratchSEO.Add "color" "red" }}
      {{ if gt .seo 50 }}
        {{ $scratchSEO.Set "color" "orange" }}
      {{ end }}
      {{ if gt .seo 90 }}
        {{ $scratchSEO.Set "color" "green" }}
      {{ end }}
      <div class="card-lighthouse-item card-lighthouse-item-{{ $scratchSEO.Get "color" }}"></div>

    </div>
  </div>

</div>