.button {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  background: $primary;
  border-radius: 4px;
  border: 0;
  color: white;
  outline: none;
  font-size: 1rem;
  text-decoration: none;
  padding: 5px 15px;
  margin-right: 5px;
  cursor: pointer;

  .btn-count {
    padding: 3px 6px 3px 4px;
    margin-left: 6px;
    border-radius: $border-radius;
    background: $primary-darker;
    background: var(--primary-darker);
    font-size: .8em;
    font-weight: bold;
  }

  @include breakpoint('small') {
    margin-bottom: 0;
  }

  &:hover {
    border-color: $primary;
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }

  &.selected,
  &.mixitup-control-active {
    background: $secondary;
    background: var(--secondary);
    color: white;
    color: var(--base-color-invert);
  }
}

.submit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;

  .submit-button {
    display: flex;
    align-items: center;

    svg {
      fill: white;
      fill: vart(--base-color-invert);
      margin-left: 5px;
    }
  }

  .submit-button-mobile {
    display: block;

    @include breakpoint('small') {
      display: none;
    }
  }

  .submit-button-desktop {
    display: none;

    @include breakpoint('small') {
      display: block;
    }
  }

}
