.card-block {
  margin-bottom: 3rem
}

.card-block-header {
  display: flex;
  justify-content: space-between;
  padding: .75rem 0 1.5rem;

  h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }

  .button {
    margin-right: 0;
    background-color: var(--secondary);

    .btn-count {
      background-color: rgba(0, 0, 0, .2);
    }
  }
}

@media only screen and (max-width: 767px) {
  .card-block-header {
    flex-direction: column;
    align-items: flex-start;

    h2 {
      margin-bottom: .5rem
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $border-radius;
  background-color: white;
  background-color: var(--card-bg);
  transition: color 0.3s, box-shadow 0.3s, transform 0.3s;
  position: relative;
  z-index: 1;
  max-width: 280px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.035), 0 2px 2px rgba(0, 0, 0, 0.035),
      0 4px 4px rgba(0, 0, 0, 0.035), 0 8px 8px rgba(0, 0, 0, 0.035);
    color: currentColor;
  }
}

.card-details {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.card-image {
  position: relative;
  display: flex;

  a {
    display: flex;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.card-title {
  h2 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    font-family: $font-family-heading;
    margin: 0;
  }
}

.card-footer {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.card-buttons {
  display: flex;
  margin: 4px 0;

  .card-button {
    padding: 3px 5px;
    margin-left: 3px;
    margin-right: 0;
    font-size: 0.8em;
    line-height: 1.3em;
    text-decoration: none;

    &:hover {}
  }
}

.card-provider {
  font-size: 0.75rem;
  padding: 4px 1px;
  line-height: 0.75rem;
}

.card-cms {
  position: absolute;
  display: flex;
  border-top-right-radius: 6px;
  padding: 5px;
  bottom: 0;
  left: 0;
  background-color: #fff;

  a {
    display: flex;
    justify-content: center;
    width: 22px;
    font-size: 16px;
    color: #666666;

    &:hover svg {
      color: var(--primary);
    }
  }

  svg {
    color: #555;
  }
}

.card-lighthouse {
  display: flex;
  justify-content: flex-end;
  padding: 2px 0;
  margin-left: auto;
}

.card-lighthouse-item {
  span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 3px;
  }

  &-red span {
    background-color: $red;
  }

  &-orange span {
    background-color: $orange;
  }

  &-green span {
    background-color: $green;
  }
}
