.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $border-radius;
  background-color: white;
  background-color: var(--card-bg);
  box-shadow: $box-shadow;
  transition: color 0.3s, box-shadow 0.3s, transform 0.3s;
  position: relative;
  z-index: 1;
  min-height: 320px;
  max-width: 280px;
  overflow: hidden;

  &:hover {
    transform: translateY(-3px);
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.10),
      0 2px 2px rgba(0, 0, 0, 0.10),
      0 4px 4px rgba(0, 0, 0, 0.10),
      0 8px 8px rgba(0, 0, 0, 0.10),
      0 16px 16px rgba(0, 0, 0, 0.10);
    color: currentColor;
  }

}

.card-container {
  position: relative;
}

.card-header {
  border-bottom: 1px solid rgba(100, 100, 100, .1);
  max-height: 210px;
  border-radius: $border-radius $border-radius 0 0;
  overflow: hidden;
  display: flex;

  a {
    display: flex;
  }

  img {
    max-width: 100%;
  }
}

.card-body {
  flex: 1;
  padding: 20px;
  min-height: 140px;
  background: white;
  background: var(--card-bg);

  h2 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    font-family: $font-family-heading;
    margin: 0;
    margin-bottom: 10px;
  }

  p {
    color: $steel;
    font-size: 1em;
    margin: 0 0 3px 0;

  }

  .card-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;

    h2 {
      margin: 0 auto 0 0;
    }
  }
}

.card-footer {
  display: flex;
  align-items: center;
  padding: 5px 6px 3px;
  background: #eee;
}

.card-buttons {
  margin: 4px 0;

  .card-button {
    padding: 3px 5px;
    border-radius: 2px;
    margin-left: 2px;
    margin-right: 0;
    font-size: .8em;
    line-height: 1.3em;
    text-decoration: none;

    &:hover {}
  }
}

.card-provider {
  font-size: .75rem;
  padding: 4px 1px;
}

.card-cms {
  display: flex;
  border-bottom-left-radius: 6px;
  padding: 0 3px;

  a {
    display: flex;
    justify-content: center;
    width: 22px;
    font-size: 16px;
    color: #666666;

    &:hover svg {
      color: var(--primary);
    }
  }

  svg {
    color: #555
  }
}

.card-lighthouse {
  display: flex;
  justify-content: flex-end;
  padding: 2px;
  margin-left: auto;
}

.card-lighthouse-item {
  span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 3px;
  }

  &-red span {
    background-color: $red;
  }

  &-orange span {
    background-color: $orange;
  }

  &-green span {
    background-color: $green;
  }
}
