p {
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;

  &:first-of-type {
    margin-top: 0;
  }

  @include breakpoint('small') {
    font-size: 30px;
    line-height: 1.4;
  }
}

h3 {
  font-size: 22px;
  line-height: 1.4;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px;
}
