<div class="sort sort-buttons">
  <span class="sort-by">Sort By:</span>
  <button class="button" type="button mixitup-control-active" data-sort="default:asc">Date</button>
  <button class="button" data-sort="name:asc">Alphabetical</button>
  <button class="button" data-sort="accessibility:desc">Accessibility</button>
  <button class="button" data-sort="bestpractices:desc">Best Practices</button>
  <button class="button" data-sort="seo:desc">SEO</button>
  <button class="button" data-sort="performance:desc">Performance</button>
</div>