{{ define "title" }}A Joomla Template Directory{{ end }}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}

{{ define "meta_tags" }}
{{ $themes := (where .Site.RegularPages "Type" "theme") }}
{{ $themeCount := len $themes}}

<meta name="description" content="A collection of the latest Joomla templates with over {{ $themeCount }} templates gathered from all the major Joomla template providers." />
<link rel="canonical" href="https://themeglobe.com" />
{{ end }}

{{ define "main" }}
{{ $themes := (where .Site.RegularPages "Type" "theme") }}
{{ $joomlathemes := (where (where .Site.RegularPages "Type" "theme") ".Params.cms" "intersect" (slice "Joomla")) }}
{{ $wordpressthemes := (where (where .Site.RegularPages "Type" "theme") ".Params.cms" "intersect" (slice "Wordpress")) }}
{{ $joomlathemeCount := len $joomlathemes}}
{{ $wordpressthemeCount := len $wordpressthemes}}

<div class="main">
  <div class="main-wrapper">

    <div>
      <div class="blurb blurb-desktop"><p>Welcome to ThemeGlobe. A unbiased collection of themes and templates for Joomla and Wordpress. Gathered from all the major professional providers and tested through Google Lighthouse via <a href="https://web.dev/" target="_blank" rel="noopener">web.dev</a>. This is an open project so feel free to contribute on our <a href="https://github.com/ciar4n/themeglobe" target="_blank" rel="noopener">Github</a> repo.</p></div>
      <div class="blurb blurb-mobile"><p>Welcome to ThemeGlobe. A unbiased collection of themes and templates for Joomla and Wordpress. Gathered from all the major professional providers and tested through Google Lighthouse via <a href="https://web.dev/" target="_blank" rel="noopener">web.dev</a>.</p></div>
    </div>

   

    <div class="card-block">
      <div class="card-block-header">
        <h2>Latest Joomla Templates</h2>
        <a href="/cms/joomla/" class="button">List All Joomla<span class="btn-count">{{ $joomlathemeCount }}</span></a>
      </div>

      <div class="grid">
      {{ range first 12 $joomlathemes.ByPublishDate.Reverse }}
        {{ $template_key := .File.BaseFileName | urlize }}
        {{ $lighthouse := index .Site.Data.themes $template_key }}
          {{ partial "template-card.html" (dict "theme" . "performance" $lighthouse.performance "bestPractices" $lighthouse.bestPractices "accessibility" $lighthouse.accessibility "seo" $lighthouse.seo) }}
        {{ end }}
      </div>
    </div>

    <div class="card-block">
      <div class="card-block-header">
        <h2>Latest Wordpress Themes</h2>
        <a href="/cms/wordpress/" class="button">List All Wordpress<span class="btn-count">{{ $wordpressthemeCount }}</span></a>
      </div>

      <div class="grid">
        {{ range first 12 $wordpressthemes.ByPublishDate.Reverse }}
          {{ $template_key := .File.BaseFileName | urlize }}
          {{ $lighthouse := index .Site.Data.themes $template_key }}
          {{ partial "template-card.html" (dict "theme" . "performance" $lighthouse.performance "bestPractices" $lighthouse.bestPractices "accessibility" $lighthouse.accessibility "seo" $lighthouse.seo) }}
        {{ end }}
      </div>
    </div>

    <div class="card-block">
      <div class="card-block-header">
        <h2>Top Performance Leaderboard</h2>
      </div>
      <div class="grid">
        {{ $topPerformance := .Site.Data.performance }}
        {{ range $template_key, $value := $topPerformance }}
          {{ $lighthouse := index $topPerformance $template_key }}
            {{ $path := print "/theme/" $template_key ".md" }}
            {{ with $.Site.GetPage $path }}
              {{ partial "template-card.html" (dict "theme" . "performance" $lighthouse.performance "bestPractices" $lighthouse.bestPractices "accessibility" $lighthouse.accessibility "seo" $lighthouse.seo) }}
            {{ end }}
        {{ end }}
      </div>
    </div>

    <div class="card-block">
      <div class="card-block-header">
        <h2>Top Accessibility Leaderboard</h2>
      </div>
      <div class="grid">
        {{ $topAccessibility := .Site.Data.accessibility }}
        {{ range $template_key, $value := $topAccessibility }}
          {{ $lighthouse := index $accessibility $template_key }}
            {{ $path := print "/theme/" $template_key ".md" }}
            {{ with $.Site.GetPage $path }}
              {{ partial "template-card.html" (dict "theme" . "performance" $lighthouse.performance "bestPractices" $lighthouse.bestPractices "accessibility" $lighthouse.accessibility "seo" $lighthouse.seo) }}
            {{ end }}
        {{ end }}
      </div>
    </div>



    <div class="controls-pagination">
      <div class="mixitup-page-list"></div>
      <div class="mixitup-page-stats"></div>
    </div>

    {{ partial "footer.html" . }}
    
  </div>

</div>
{{ end }}

{{ define "footer_js" }}

{{ $scripts := resources.Get "js/scripts.js" }}
{{ $bundle := slice  $scripts  | resources.Concat "js/scripts.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($bundle | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}