{{ define "title" }}A Joomla Template Directory{{ end }}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}

{{ define "meta_tags" }}
{{ $themes := (where .Site.RegularPages "Type" "theme") }}
{{ $themeCount := len $themes}}

<meta name="description" content="A collection of the latest Joomla templates with over {{ $themeCount }} templates gathered from all the major Joomla template providers." />
<link rel="canonical" href="https://themeglobe.com" />
{{ end }}

{{ define "main" }}
{{ $themes := (where .Site.RegularPages "Type" "theme") }}
{{ $joomlathemes := (where (where .Site.RegularPages "Type" "theme") ".Params.cms" "intersect" (slice "Joomla")) }}
{{ $wordpressthemes := (where (where .Site.RegularPages "Type" "theme") ".Params.cms" "intersect" (slice "Wordpress")) }}
{{ $joomlathemeCount := len $joomlathemes}}
{{ $wordpressthemeCount := len $wordpressthemes}}

<div class="main">
  <div class="main-wrapper">

    <div>
      <div class="blurb blurb-desktop"><p>Welcome to ThemeGlobe. A directory of <a href="https://joomla.org/" target="_blank" rel="noopener">Joomla</a> templates gathered from all the major professional providers. This is an open project so feel free to contribute on our <a href="https://github.com/ciar4n/themeglobe" target="_blank" rel="noopener">Github</a> repo.</p></div>
      <div class="blurb blurb-mobile"><p>Welcome to ThemeGlobe. A directory of <a href="https://joomla.org/" target="_blank" rel="noopener">Joomla</a> templates gathered from all the major professional providers.</p></div>
    </div>

    <div class="intro">
      <h1>Latest Themes and Templates</h1>
      <a href="/cms/joomla/" class="button">List All Joomla<span class="btn-count">{{ $joomlathemeCount }}</span></a>
      <a href="/cms/wordpress/" class="button">List All Wordpress<span class="btn-count">{{ $wordpressthemeCount }}</span></a>
    </div>

    <div id="grids-homepage" class="grid">
      {{ range first 21 $themes.ByPublishDate.Reverse }}
        {{ $repoName := printf "%s-%s" (substr (replace .Params.details "/" "-") 19 | urlize) }}
        {{ $template_key := .File.BaseFileName | urlize }}
        {{ $lighthouse := index .Site.Data.themes $template_key }}
        {{ $repo := index .Site.Data.themes $repoName }}
          {{ partial "template-card.html" (dict "theme" . "repo" $repo "performance" $lighthouse.performance "bestPractices" $lighthouse.bestPractices "accessibility" $lighthouse.accessibility "seo" $lighthouse.seo) }}
        {{ end }}
    </div>

    <div class="controls-pagination">
      <div class="mixitup-page-list"></div>
      <div class="mixitup-page-stats"></div>
    </div>

    {{ partial "footer.html" . }}
    
  </div>

</div>
{{ end }}

{{ define "footer_js" }}

{{ $scripts := resources.Get "js/scripts.js" }}
{{ $bundle := slice  $scripts  | resources.Concat "js/scripts.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($bundle | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}