name: Node.js CI
on: [push, pull_request]
env:
  CI: true

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [13]

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: Install NPM dependencies
      run: npm ci
      
    - name: Process
      run: node ./scripts/capture-screenshots.js && node ./scripts/generate-thumbnails.js && node ./scripts/capture-lighthouse.js  && node ./scripts/sort.js

    - name: Github
      run: node ./scripts/pre-deploy.js && node ./scripts/post-deploy-gh.js
    - uses: stefanzweifel/git-auto-commit-action@v3.0.0
      with:
        commit_message: Adding automatic Image/Lighthouse data collection changes...
        branch: ${{ github.head_ref }}
